.tahoma400 {
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
}

.fs-2 {
    font-size: 2rem;
}

.fs-3 {
    font-size: 3rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    min-height: 100dvh;
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

footer {
    width: 100%;
    height: 12rem;
    background-color: #030303;
    margin-top: auto;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0;
}

.icon, .text {
    color: yellow;
    text-align: start;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.center-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    min-height: 14rem;
    background-color: #ffee00;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    width: 65%;
    background-color: black;
    color: #ffee00;
    height: 4rem;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
    font: 1.5em 'Tahoma', sans-serif;
    font-weight: bold;
    margin-top: 1rem;
}

.header-icon {
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    color: #ffee00;
    border: 5px solid #000000;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-15deg);
}

.header-icon-small {
    width: 4rem;
    height: 4rem;
    background-color: #000000;
    color: #ffee00;
    border: 5px solid #000000;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-15deg);
}

.navbar-menu {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    text-align: center;
    width: 100%;
    height: 3rem;
    font: 1.25rem 'Tahoma', sans-serif;
    font-weight: bold;
}

.navbar-item-space {
    margin: 1rem 1rem 1rem 1rem;
}

.navbar-item-style {
    text-decoration: none;
    color: black;
    font-family: "Tahoma", sans-serif;
}

.navbar-item-style1 {
    color: yellow;
    text-decoration: none;

}

.hamburger-toggle {
    background-color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(15deg);
}

.menuToggle1 {
    background-color: black;
    color: #ffee00;
    display:block!important;
    height: 10rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.menuToggle2 {
    background-color: black;
    width: 100%;
}

.div-wrapper {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-image {
    display: flex;
    width: 100%;
    max-width: 450px;
    height: auto;
    max-height: 450px;
}

.page-div {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 0;
    min-height: 75dvh;
    border: 5px solid #000000;
}

.intro-div-col {
    background-color: rgba(255, 238, 0, 0.25)
}

.page-div>div {
    margin: 1rem 2rem 1rem 1rem;
}

.image-div {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

.text-div {
    width: 50%;
    min-height: 10rem;
    font-size: 1.25rem;
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-spacing {
    margin: 0.25rem
}

#red-pill {
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}

.hallouminati-header {
    width: 100%;
    height: 8rem;
    background-color: #00eeff;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.hallouminati-header-style {
    width: 65%;
    background-color: black;
    color: #00eeff;
    height: 4rem;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
}

.hallouminati-text-style {
    font: 1.5rem 'Tahoma', sans-serif;
    font-weight: bold;
    color: #00eeff;
    text-align: center;
    margin: 0;
}

.hallouminati-div-col {
    background-color: rgba(0, 238, 255, 0.25)
}

.page2-div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#spacer-div {
    height: 1rem;
    background-color: white;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}   

@media  screen and (max-width: 992px) {
    .page-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 0;
        min-height: 75dvh;
        border: 5px solid #000000;
    }

    .text-div {
        width: 80%;
        min-height: 10rem;
        font-size: 1.25rem;
        font-family: 'Tahoma', sans-serif;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-wrap: wrap;
    }
}